.content-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.image-container {
    flex: 1;
}

.image-container img {
    width: 100%;
    height: auto;
}

.text-container {
    flex: 1;
    padding: 0 20px;
}

@media only screen and (max-width: 600px) {
    .content-section {
        flex-direction: column;
    }
}
